<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.typekit.net/mub1lty.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./dist/css/style.css">
  <link rel="icon" href="./asset/favicon.png">
  <title>沃草→給問擂台←</title>
</head>
<body>
  <div id="app">
    <nav class="navbar sticky-top navbar-light bg-ask">
      <a class="navbar-brand" href="https://ask.watchout.tw/"><img src="./asset/logo+type.png" class="logo-type"/></a>
    </nav>
    <section id="cover" :title="cover.title" :style="styles.cover"></section>
    <section id="now" v-if="now.event">
      <div class="label bg-musou-light" :status="now.status">
        <div class="lightbulb d-inline-block align-top animate-flicker"><div class="bulb"></div></div><label class="d-inline-block align-top">{{ now.status }}</label>
      </div>
      <event-with-player :e="now.event" :title="now.event.title"></event-with-player>
    </section>
    <section id="next" class="bg-ask-light" v-if="next.event" :e="next.event">
      <div class="label bg-ask-light">
        <label>{{ next.title }}</label>
      </div>
      <event-with-signup :e="next.event" :title="next.event.title"></event-with-signup>
    </section>
    <section id="intro">
      <h2 class="header-block-tall header-center bg-ask-gradient-to-transparent">{{ intro.title }}</h2>
      <div class="pgroup pgroup-center">
        <p v-for="p in intro.content" :key="p">{{ p }}</p>
      </div>
    </section>
    <section id="history">
      <h2 class="header-block header-center bg-ask-light">{{ history.title }}</h2>
      <div class="container events">
        <ul class="row list list-unstyled">
          <li v-for="e in history.events" :key="e.title" class="item col-md-6 col-lg-4">
            <event-in-list :e="e" :title="e.title"></event-in-list>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="./src/app.js"></script>
</body>
</html>
