$low: 0.05;
$duration: 2s;
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:$low; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:$low; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:$low; }
  100% { opacity:1; }
}
.animate-flicker {
  -webkit-animation: flickerAnimation $duration infinite;
  -moz-animation: flickerAnimation $duration infinite;
  animation: flickerAnimation $duration infinite;
}
