@import 'animate';
@import 'variables';

/* Page-specific styles */

body {
  background-image: url(../asset/demo.png);
}

$section-label-size: 3rem;
$sqrt-3: 1.732051;

section {
  > .label {
    @include font-monospace;
    position: relative;
    height: 3rem;
    margin: 0 auto;
    padding: 0;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 3rem;
    display: block;
    text-align: center;

    > .lightbulb {
      position: relative;
      width: 1.5rem;
      height: 3rem;
      margin-right: 0.25rem;

      > .bulb {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-radius: 50%;
        border: 2px $color-musou solid;
      }
    }

    &[status="LIVE"] {
      > .lightbulb > .bulb {
        background: $color-musou;
      }
    }
    &[status="SOON"] {
      > .lightbulb > .bulb {
        border: 4px $color-musou solid;
      }
    }
  }
  &#cover {
    height: 0;
    padding-bottom: 88.8888889%;
    @include placeholder;
    background-image: url(../asset/opening+background-sq.jpg);

    @include bp-sm-up {
      padding-bottom: 50%;
      background-image: url(../asset/opening+background-wide.jpg);
    }
  }
  &#now {
    @include bp-sm-up {
      padding-top: 2rem;
      > .label {
        width: 6rem;

        &:before, &:after {
          position: absolute;
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
        }
        &:before {
          border-bottom: $section-label-size rgba($color-musou, 0.25) solid;
	        border-left: $section-label-size/$sqrt-3 transparent solid;
          right: 100%;
        }
        &:after {
          border-top: $section-label-size rgba($color-musou, 0.25) solid;
          border-right: $section-label-size/$sqrt-3 transparent solid;
          left: 100%;
        }
      }
    }
  }
}
.player-container {
  width: 100%;
  > .player {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
    @include placeholder;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    > .embed-responsive-item {
      background-size: contain;
    }
    > .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 86px;
      height: 86px;
      background-image: url(../asset/play.png);
      background-size: contain;
      cursor: pointer;
    }
  }
}

.organizers > ul {
  > label {
    font-size: $font-size-small;
    font-weight: 500;
  }
}
.date {
  @include font-monospace;
  > .date-separator {
    color: $color-ask;
  }

  &.date-large {
    font-size: 1.5rem;
    line-height: 1.875rem;
    > .date-separator {
      font-size: 1rem;
      line-height: 1.875rem;
    }
  }
}
.time {
  @include font-monospace;

  &.time-large {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}
.event {
  position: relative;
  .info {
    margin: 0.5rem 0;
  }
  .guests {
    margin: 0 -0.5rem; // compensating the left+right margin of .guest
  }
  .organizers {
    margin: 0.5rem 0;
  }
}
.guest {
  position: relative;
  margin: 0.5rem;
  > .photo {
    width: 8rem;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: $color-placeholder;
    background-size: cover;
  }
  > .name, > .job {
    display: block;
  }
  > .job {
    font-size: $font-size-small;
    font-weight: 500;
  }

  &.photo-small > .photo {
    width: 6rem;
  }
  &.photo-large > .photo {
    width: 12rem;
  }
  &.signup {
    > .photo {
      background-color: $color-ask;
      background-image: url(../asset/+1.png);
      background-size: contain;
      background-position: center center;
      box-shadow: 0px 2px 6px $color-shadow;
    }
  }
}
.event-in-list {
  border-top: 4px rgba($color-ask, 0.85) solid;
  margin-bottom: 2rem;
  .title {
    margin: 0;
  }
  .guest {
    margin: 0.25rem 0.5rem;
  }
  .name {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: $font-size-small;
    text-align: right;
    background: white;
    padding: 0 0.25rem;
  }
  .job {
    display: none;
  }
  .links {
    > .link {
      margin-right: 0.5rem;
      > .logo-small, > .icon-small, > .label {
        display: inline-block;
        vertical-align: top;
      }
      > .logo-small, > .icon-small {
        margin-right: 0.25rem;
      }
    }
    &.contained {
      position: absolute;
      bottom: 0;
    }
  }
  &.guest-one {
    padding-top: 1.5rem;
    .info {
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }
}
.support {
  position: fixed;
  bottom: 0.25rem;
  right: 0.25rem;
  z-index: 2;

  > .button {
    display: block;
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    background-size: contain;
    background-image: url(../asset/pitcher.png);
  }
  > .close {
    top: auto;
    bottom: -0.25rem;
    color: $color-watchout;
    opacity: 0.75;
  }
}

footer {
  margin-top: 8rem;
  padding-bottom: 2rem;
  background: #434343;

  > .land, > .social, > .other {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  > .land {
    position: relative;
    background-color: white;
    > .grass, > .soil > .light, > .soil > .dark {
      background-position: center;
      background-size: contain;
    }
    > .grass {
      height: 14rem;
      background-image: url(../asset/footer/land/grass.png);
      background-repeat: repeat-x;
    }
    > .soil {
      > .light, > .dark {
        height: 2rem;
        background-repeat: no-repeat;
      }
      > .light {
        background-color: #bd7260;
        background-image: url(../asset/footer/land/soil/light.png);
      }
      > .dark {
        background-color: #8c4533;
        background-image: url(../asset/footer/land/soil/dark.png);
      }
    }
    > .patches {
      position: absolute;
      bottom: 6rem;
      width: 100%;
      overflow: hidden;

      > .patch {
        background-size: contain;

        &.big {
          width: 1.75rem;
          height: 0.875rem;
          background-image: url(../asset/footer/grass/big.png);
        }
        &.small {
          width: 0.75rem;
          height: 0.5rem;
          background-image: url(../asset/footer/grass/small.png);
        }
      }
    }
    > .tree {
      position: absolute;

      &.tree-deliberate {
        bottom: 5.25rem;
        left: 10%;
        width: 11.25rem;
      }
      &.tree-discover {
        bottom: 5rem;
        left: 10%;
        transform: translateX(6rem);
        width: 8.5rem;
      }
      &.tree-investigate {
        display: none;
        bottom: 5.5rem;
        right: 10%;
        width: 11.875rem;

        @include bp-sm-up {
          display: block;
        }
      }
      &.tree-sprout {
        bottom: 4rem;
        right: 8%;
        width: 1.25rem;
      }
    }
    > .farmer {
      position: absolute;

      &.farmer-tangerine {
        bottom: 1.5rem;
        left: 12%;
        width: 4.625rem;
      }
      &.farmer-green {
        bottom: -0.5rem;
        right: 8%;
        width: 5rem;
      }
      &.farmer-brown {
        bottom: 4.5rem;
        left: 10%;
        transform: translateX(14rem);
        width: 2rem;
      }
    }
  }
  > .social {
    padding: 6rem 0;
    max-width: 20rem;

    > .group {
      margin: 2rem;
      > .link {
        > .image {
          display: block;
          position: relative;
          margin: 0 auto;
          width: 5.625rem;

          > img {
            width: 100%;
          }
          > .type {
            position: absolute;
            top: -0.5rem;
            left: -0.5rem;
            width: 1.625rem;
            height: 1.625rem;
            background-size: contain;
          }
        }
        > .message {
          @include font-serif;
          font-weight: bold;
          font-size: 1.125rem;
          color: rgba(white, 0.75); //color-nice-grey;
          //ransform: translate(2rem, -0.5rem) rotate(-15deg);
        }
      }

      &[type="facebook"] > .link > .image > .type {
        background-image: url(../asset/social/facebook/round.png);
      }
      &[type="LINE"] > .link > .image > .type {
        background-image: url(../asset/social/LINE/round.png);
      }
    }
  }

  > .cluster {
    color: white;
    > .group {
      margin: 0 2rem;
      > .item {
        color: rgba(white, 0.75); //$color-nice-grey;
        text-align: left;
      }
    }
  }
}
