@import 'animate';
@import 'variables';

/* General override */

// Small element
h1, h2, h3 {
  @include font-serif;
  font-weight: bold;
}
label {
  margin: 0;
}
img {
  display: block;
}
a {
  &, &:hover, &:focus, &:active, &:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &.a-text {
    display: inline;
    &:hover, &:focus, &:active {
      @include underline;
    }
  }
  &.a-block {
    display: block;
    &:hover, &:focus, &:active {
      .a-target {
        @include underline;
      }
    }
  }
}
.close {
  float: none;
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -2px;
  font-size: 2rem;
  line-height: 1;
  border-bottom-width: 4px;
  font-weight: normal;
  text-shadow: none;
  cursor: pointer;

  &, &:hover, &:focus {
    color: inherit;
    opacity: 1;
  }
}

// List
.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

// Navbar
.navbar, .navbar-brand {
  padding: 0;
  z-index: 1;
}

/* Watchout Commons-specific additional styles */
// following Bootstrap convention

// Background color
.bg-ask {
  background-color: $color-ask;
}
.bg-ask-light {
  background-color: rgba($color-ask, 0.25);
}
.bg-ask-gradient-to-transparent {
  background: linear-gradient(to bottom, rgba($color-ask, 0.25), rgba($color-ask, 0));
}
.bg-musou-light {
  background-color: rgba($color-musou, 0.25);
}

// Header
.header-center {
  text-align: center;
}
.header-block {
  margin: 0;
  padding: 0.333333em 0;
}
.header-block-tall {
  padding: 1em 0;
}

// Layout
section {
  width: 100%;
  padding-bottom: 2rem;
}
.container-960 {
  max-width: 960px + 15px*2;
  margin-left: auto;
  margin-right: auto;
}
.max-width-960 {
  max-width: 960px;
}

// Navbar
.logo-type {
  display: block;
  width: 212px;
  height: auto;
}

// Logo & icon
.logo-small, .icon-small {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center center;
}
.logo-small {
  &.musou {
    background-image: url(../asset/logo/musou/small.png);
  }
  &.woo {
    background-image: url(../asset/logo/woo/small.png);
  }
}
.icon-small {
  &.transcript {
    background-image: url(../asset/icon/transcript/small.png);
  }
}

/* Watchout Commons-specific additional styles */

.pgroup {
  width: 18rem;
}
.pgroup-center {
  margin: 0 auto;
}

/* Page-specific styles */

body {
  background-image: url(../asset/demo.png);
}

$section-label-size: 3rem;
$sqrt-3: 1.732051;

section {
  > .label {
    @include font-monospace;
    position: relative;
    height: 3rem;
    margin: 0 auto;
    padding: 0;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 3rem;
    display: block;
    text-align: center;

    > .lightbulb {
      position: relative;
      width: 1.5rem;
      height: 3rem;
      margin-right: 0.25rem;

      > .bulb {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-radius: 50%;
        border: 2px $color-musou solid;
      }
    }

    &[status="LIVE"] {
      > .lightbulb > .bulb {
        background: $color-musou;
      }
    }
    &[status="SOON"] {
      > .lightbulb > .bulb {
        border: 4px $color-musou solid;
      }
    }
  }
  &#cover {
    height: 0;
    padding-bottom: 88.8888889%;
    @include placeholder;
    background-image: url(../asset/opening+background-sq.png);

    @include bp-sm-up {
      padding-bottom: 50%;
      background-image: url(../asset/opening+background-wide.png);
    }
  }
  &#now {
    @include bp-sm-up {
      padding-top: 2rem;
      > .label {
        width: 6rem;

        &:before, &:after {
          position: absolute;
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
        }
        &:before {
          border-bottom: $section-label-size rgba($color-musou, 0.25) solid;
	        border-left: $section-label-size/$sqrt-3 transparent solid;
          right: 100%;
        }
        &:after {
          border-top: $section-label-size rgba($color-musou, 0.25) solid;
          border-right: $section-label-size/$sqrt-3 transparent solid;
          left: 100%;
        }
      }
    }
  }
}
.player-container {
  width: 100%;
  > .player {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
    @include placeholder;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    > .embed-responsive-item {
      background-size: contain;
    }
    > .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 86px;
      height: 86px;
      background-image: url(../asset/play.png);
      background-size: contain;
      cursor: pointer;
    }
  }
}

.organizers > ul {
  > label {
    font-size: $font-size-small;
    font-weight: 500;
  }
}
.date {
  @include font-monospace;
  > .date-separator {
    color: $color-ask;
  }

  &.date-large {
    font-size: 1.5rem;
    line-height: 1.875rem;
    > .date-separator {
      font-size: 1rem;
      line-height: 1.875rem;
    }
  }
}
.time {
  @include font-monospace;

  &.time-large {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}
.event {
  position: relative;
  .info {
    margin: 0.5rem 0;
  }
  .guests {
    margin: 0 -0.5rem; // compensating the left+right margin of .guest
  }
  .organizers {
    margin: 0.5rem 0;
  }
}
.guest {
  position: relative;
  margin: 0.5rem;
  > .photo {
    width: 8rem;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    background: $color-placeholder;
  }
  > .name, > .job {
    display: block;
  }
  > .job {
    font-size: $font-size-small;
    font-weight: 500;
  }

  &.photo-small > .photo {
    width: 6rem;
  }
  &.photo-large > .photo {
    width: 12rem;
  }
  &.signup {
    > .photo {
      background-color: $color-ask;
      background-image: url(../asset/+1.png);
      background-size: contain;
      background-position: center center;
      box-shadow: 0px 2px 6px $color-shadow;
    }
  }
}
.event-in-list {
  border-top: 4px rgba($color-ask, 0.85) solid;
  margin-bottom: 2rem;
  .title {
    margin: 0;
  }
  .guest {
    margin: 0.25rem 0.5rem;
  }
  .name {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: $font-size-small;
    text-align: right;
  }
  .job {
    display: none;
  }
  .links {
    > .link {
      margin-right: 0.5rem;
      > .logo-small, > .icon-small, > .label {
        display: inline-block;
        vertical-align: top;
      }
      > .logo-small, > .icon-small {
        margin-right: 0.25rem;
      }
    }
    &.contained {
      position: absolute;
      bottom: 0;
    }
  }
  &.guest-one {
    padding-top: 1.5rem;
    .info {
      position: absolute;
      top: 0;
    }
  }
}
.support {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 2;

  > .button {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url(../asset/support.png);
    background-size: contain;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

    @include bp-sm-up {
      width: 84px;
      height: 84px;
    }
  }
}

footer {
  margin-top: 100px;
  background: linear-gradient(to bottom, rgba($color-ask, 0), rgba($color-ask, 100));

  > .island, > .social, > .other {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 24rem;
  }
  > .social {
    margin-top: 5rem;
    margin-bottom: 5rem;
    > .group {
      margin: 2rem;
      > .link {
        > .image {
          display: block;
          position: relative;
          margin: 0 auto;
          width: 5.625rem;

          > img {
            width: 100%;
          }
          > .type {
            position: absolute;
            top: -0.5rem;
            left: -0.5rem;
            width: 1.625rem;
            height: 1.625rem;
            background-size: contain;
          }
        }
        > .message {
          @include font-serif;
          font-weight: bold;
          font-size: 1.125rem;
          color: $color-nice-grey;
          transform: translate(2rem, -0.5rem) rotate(-15deg);
        }
      }

      &[type="facebook"] > .link > .image > .type {
        background-image: url(../asset/social/facebook/round.png);
      }
      &[type="LINE"] > .link > .image > .type {
        background-image: url(../asset/social/LINE/round.png);
      }
    }
  }

  > .other {
    > .item {
      display: inline-block;
      width: 50%;
      margin: 0.5rem 0;
      color: $color-nice-grey;
      text-align: center;
    }
  }

  > .wo {
    width: 9rem;
    margin: 0 auto;
    padding: 2rem 0 6rem;
    > img {
      width: 100%;
    }
  }
}
