@import 'animate';
@import 'variables';

/* General override */

// Small element
label {
  margin: 0;
}
a, a:hover {
  color: blue;
}

// List
.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

// Navbar
.navbar, .navbar-brand {
  padding: 0;
}

/* Watchout Commons-specific additional styles */
// following Bootstrap convention

// Background color
.bg-ask {
  background-color: $color-ask;
}
.bg-ask-light {
  background-color: rgba($color-ask, 0.25);
}
.bg-ask-gradient-to-transparent {
  background: linear-gradient(to bottom, rgba($color-ask, 0.25), rgba($color-ask, 0));
}
.bg-musou-light {
  background-color: rgba($color-musou, 0.25);
}

// Header
.header-center {
  text-align: center;
}
.header-block {
  margin: 0;
  padding: 0.333333em 0;
}
.header-block-tall {
  padding: 1em 0;
}

// Layout
section {
  width: 100%;
  padding-bottom: 2rem;
}
.container-960 {
  max-width: 990px;
}

// Navbar
.logo-type {
  display: block;
  width: 212px;
  height: auto;
}

// Logo & icon
.logo-small, .icon-small {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center center;
}
.logo-small {
  &.musou {
    background-image: url(../../asset/logo/musou/small.png);
  }
  &.woo {
    background-image: url(../../asset/logo/woo/small.png);
  }
}
.icon-small {
  &.transcript {
    background-image: url(../../asset/icon/transcript/small.png);
  }
}

/* Watchout Commons-specific additional styles */

.pgroup {
  width: 18rem;
}
.pgroup-center {
  margin: 0 auto;
}

/* Page-specific styles */

section {
  > .label {
    @include font-monospace;
    height: 3rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 3rem;
    display: block;
    text-align: center;

    > .lightbulb {
      position: relative;
      width: 1.5rem;
      height: 3rem;
      margin-right: 0.25rem;

      > .bulb {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-radius: 50%;
        border: 2px $color-musou solid;
      }
    }

    &[status="LIVE"] {
      > .lightbulb > .bulb {
        background: $color-musou;
      }
    }
    &[status="SOON"] {
      > .lightbulb > .bulb {
        border: 4px $color-musou solid;
      }
    }
  }
  &#cover {
    height: 0;
    padding-bottom: 66.666667%;
    @include placeholder;
  }
}
@media (min-width: 576px) {
  section#cover {
    padding-bottom: 50%;
  }
}
.player {
  max-width: 60rem;
  margin: 0 auto;
  @include placeholder;
  .embed-responsive-item {
    background-size: contain;
  }
}
.partners > ul {
  > label {
    font-size: $font-size-small;
    font-weight: 500;
  }
}
.date {
  @include font-monospace;
  > .date-separator {
    color: $color-ask;
  }

  &.date-large {
    font-size: 1.5rem;
    line-height: 1.875rem;
    > .date-separator {
      font-size: 1rem;
      line-height: 1.875rem;
    }
  }
}
.time {
  @include font-monospace;

  &.time-large {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}
.event {
  position: relative;
  .info {
    margin: 0.5rem 0;
  }
  .guests {
    margin: 0 -0.5rem; // compensating the left+right margin of .guest
  }
  .partners {
    margin: 0.5rem 0;
  }
}
.guest {
  position: relative;
  margin: 0.5rem;
  > .photo {
    width: 8rem;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    background: $color-placeholder;
  }
  > .name, > .job {
    display: block;
  }
  > .job {
    font-size: $font-size-small;
    font-weight: 500;
  }

  &.photo-small > .photo {
    width: 6rem;
  }
  &.photo-large > .photo {
    width: 12rem;
  }
  &.signup {
    > .photo {
      background-color: $color-ask;
      background-image: url(../../asset/+1.png);
      background-size: contain;
      background-position: center center;
      box-shadow: 0px 2px 6px $color-shadow;
    }
  }
}
.event-in-list {
  border-top: 4px rgba($color-ask, 0.85) solid;
  margin-bottom: 2rem;
  .title {
    margin: 0;
  }
  .guest {
    margin: 0.25rem 0.5rem;
  }
  .name {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: $font-size-small;
    text-align: right;
  }
  .job {
    display: none;
  }
  .links {
    > .link {
      margin-right: 0.5rem;
      > .logo-small, > .icon-small, > span {
        display: inline-block;
        vertical-align: top;
      }
      > .logo-small, > .icon-small {
        margin-right: 0.25rem;
      }
    }
    &.contained {
      position: absolute;
      bottom: 0;
    }
  }
  &.guest-one {
    padding-top: 1.5rem;
    .info {
      position: absolute;
      top: 0;
    }
  }
}
