@import 'wormhole/variables';
@import 'animate';

/* Page-specific styles */

body {
  //background-image: url(../asset/demo.png);
}

$section-label-size: 3rem;
$sqrt-3: 1.732051;

section {
  > .label {
    @include font-monospace;
    position: relative;
    height: 3rem;
    margin: 0 auto;
    padding: 0;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 3rem;
    display: block;
    text-align: center;

    > .lightbulb {
      position: relative;
      width: 1.5rem;
      height: 3rem;
      margin-right: 0.25rem;

      > .bulb {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-radius: 50%;
        border: 2px $color-musou solid;
      }
    }

    &[status="LIVE"] {
      > .lightbulb > .bulb {
        background: $color-musou;
      }
    }
    &[status="SOON"] {
      > .lightbulb > .bulb {
        border: 4px $color-musou solid;
      }
    }
  }
  &#cover {
    height: 0;
    padding-bottom: 88.8888889%;
    @include placeholder;
    background-image: url(../asset/opening-compact.jpg);

    @include bp-sm-up {
      padding-bottom: 50%;
      background-image: url(../asset/opening-regular.jpg);
    }
    @include bp-lg-up {
      padding-bottom: 33.333333%;
      background-image: url(../asset/opening-wide.jpg);
    }
  }
  &#now {
    @include bp-sm-up {
      padding-top: 2rem;
      > .label {
        width: 6rem;

        &:before, &:after {
          position: absolute;
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
        }
        &:before {
          border-bottom: $section-label-size rgba($color-musou, 0.25) solid;
	        border-left: $section-label-size/$sqrt-3 transparent solid;
          right: 100%;
        }
        &:after {
          border-top: $section-label-size rgba($color-musou, 0.25) solid;
          border-right: $section-label-size/$sqrt-3 transparent solid;
          left: 100%;
        }
      }
    }
  }
}
.player-container {
  width: 100%;
  > .player {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
    @include placeholder;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    > .embed-responsive-item {
      background-size: contain;
    }
    > .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 96px;
      height: 96px;
      background-image: url(../asset/play.png);
      background-size: contain;
      cursor: pointer;
      @include bp-sm-up {
        width: 192px;
        height: 192px;
      }
    }
  }
}

.organizers > ul {
  > label {
    font-size: $font-size-small;
    font-weight: 500;
  }
}
.date, .time {
  display: block;
}
.date {
  @include font-monospace;
  > .date-separator {
    color: $color-ask;
  }

  &.date-large {
    font-size: 1.5rem;
    line-height: 1.875rem;
    > .date-separator {
      font-size: 1rem;
      line-height: 1.875rem;
    }
  }
}
.time {
  @include font-monospace;

  &.time-large {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}
.event {
  position: relative;
  .info {
    margin: 0.5rem 0;
  }
  .guests {
    margin: 0 -0.5rem; // compensating the left+right margin of .guest
  }
  .organizers {
    margin: 0.5rem 0;
  }
}
.guest {
  position: relative;
  margin: 0.5rem;
  > .photo {
    width: 8rem;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: $color-placeholder;
    background-size: cover;
  }
  > .name, > .job {
    display: block;
  }
  > .job {
    font-size: $font-size-small;
    font-weight: 500;
  }

  &.photo-small > .photo {
    width: 6rem;
  }
  &.photo-large > .photo {
    width: 12rem;
  }
  &.signup {
    > .photo {
      background-color: $color-ask;
      background-image: url(../asset/+1.png);
      background-size: contain;
      background-position: center center;
      box-shadow: 0px 2px 6px $color-shadow;
    }
  }
}
.event-with-signup {
  h2 {
    margin: 1rem 0;
  }
}
.event-in-list {
  border-top: 4px rgba($color-ask, 0.85) solid;
  margin-bottom: 2rem;
  .title {
    margin: 0;
  }
  .guest {
    margin: 0.25rem 0.25rem;
  }
  .name {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: $font-size-small;
    text-align: right;
    background: white;
    padding: 0 0.25rem;
  }
  .job {
    display: none;
  }
  .links {
    > .link {
      margin-right: 0.5rem;
      > .logo-small, > .icon-small, > .label {
        display: inline-block;
        vertical-align: top;
      }
      > .logo-small, > .icon-small {
        margin-right: 0.25rem;
      }
    }
    &.contained {
      position: absolute;
      bottom: 0;
    }
  }
  &.guest-one {
    padding-top: 1.5rem;
    .info {
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }
}
