$color-ask: #4DEBDF;
$color-musou: #FF5368;
$color-placeholder: rgba(0, 0, 0, 0.04);
$color-shadow: rgba(0, 0, 0, 0.25);

$font-size-small: 0.875rem;

@mixin placeholder {
  background-color: $color-placeholder;
  background-size: cover;
  background-position: "center center";
}
@mixin monospace {
  font-family: "Space Mono", monospace;
}

label {
  margin: 0;
}

.bg-ask {
  background-color: $color-ask;
}
.bg-ask-light {
  background-color: rgba($color-ask, 0.25);
}
.bg-ask-gradient-to-transparent {
  background: linear-gradient(to bottom, rgba($color-ask, 0.25), rgba($color-ask, 0));
}
.bg-musou-light {
  background-color: rgba($color-musou, 0.25);
}
.header-center {
  text-align: center;
}
.header-block {
  padding: 0.333333em 0;
}
.header-block-tall {
  padding: 1em 0;
}
.list-naked {
  padding: 0;
  margin: 0;
  list-style: none;
}
section {
  width: 100%;
  > .label {
    @include monospace;
    height: 3rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 3rem;
    display: block;
    text-align: center;

    > .bulb {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 2px solid $color-musou;
    }

    &[status="LIVE"] {
      > .bulb {
        background: $color-musou;
      }
      > label {

      }
    }
  }
  &#cover {
    height: 0;
    padding-bottom: 50%;
    @include placeholder;
  }
  &#now {
    max-width: 60rem;
    margin: 0 auto;
  }
}
.player {
  @include placeholder;
  .embed-responsive-item {
    background-size: contain;
  }
}
.pgroup {
  width: 18rem;
}
.pgroup-center {
  margin: 0 auto;
}
.partners > ul {
  > label {
    font-size: $font-size-small;
    font-weight: 500;
  }
}
.guests {
  margin: 0 -0.5rem;
}
.guest {
  position: relative;
  margin: 0 0.5rem;
  > .photo {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: $color-placeholder;
  }
  > .name, > .job {
    display: block;
  }
  > .job {
    font-size: $font-size-small;
    font-weight: 500;
  }

  &.signup {
    > .photo {
      background-color: $color-ask;
      background-image: url(../../asset/+1.png);
      background-size: contain;
      background-position: "center center";
      box-shadow: 0px 2px 6px $color-shadow;
    }
  }
}

.container-960 {
  max-width: 960px;
  box-sizing: content-box;
}

.navbar, .navbar-brand {
  padding: 0;
}
.logo-type {
  display: block;
  width: 212px;
  height: auto;
}
